.input-bill {
  box-sizing: border-box;
  outline: none;
  border: transparent;
  border-radius: 5px;
  text-align: right;
  width: 100%;
  background: #f3f9fa url("./icon-dollar.svg") 15px no-repeat;
  background-color: #f3f9fa;
  padding: 0.8rem 1.5rem;
  font-size: 2.4rem;
  color: #00474b;
  font-weight: bold;
}

.input-bill:focus {
  border: 2px solid #26c2ae;
}

@media screen and (min-width: 1024px) {
  .input-bill {
    padding: 1rem 1.5rem;
  }
}

.input-bill::placeholder {
  color: #9ebbbd;
}

.total-cash-form {
  margin-bottom: 3rem;
}

.total-cash-form h2 {
  font-size: 1.6rem;
  line-height: 1rem;
}
