.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  max-width: 54rem;
  border-radius: 18px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 3rem;
}

@media screen and (min-width: 540px) {
  .container {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    margin-top: 8rem;
    justify-items: center;
  }

  .header {
    margin-bottom: 100px;
  }

  .container {
    flex-direction: row;
    max-width: 92rem;
    max-height: 48rem;
    border-radius: 18px;
    box-shadow: #99b9bd 0px 7px 25px;
    padding: 2rem;
    margin-top: 5rem;
  }

  .container > * {
    flex: 1 1 calc(100% / 2 - 3rem);
  }

  .calculations {
    margin-right: 5rem;
  }
}

.results {
  box-sizing: border-box;
  background-color: #00474b;
  border-radius: 18px;
}

.header {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

h2 {
  color: #5e7a7d;
}
